$button-color: #2196f3;
$danger-color: #f0544f;
$control-color: #2196f3;
$font-color: #283d3b;

@mixin input-style($color) {
  background-color: $color;
  border: 1px solid darken($color, 10%);
  margin: 0.5em 0;
  outline: none;
  padding: 1em;
  width: 100%;
  &:focus {
    background-color: lighten($color, 2%);
  }
}

@mixin button-style($color) {
  @include input-style($color);
  &:hover {
    background-color: lighten($color, 5%);
  }
  &:active {
    background-color: darken($color, 5%);
  }
  &:disabled {
    background-color: lighten($color, 10%);
    border-color: $color;
    color: $color;
  }
}

@mixin box-shadow($color) {
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
}

html,
body,
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

body,
input {
  color: $font-color;
  font-family: -apple-system, BlinkMacSystemFont, 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

select {
  border-radius: 0;
  color: $font-color;
  margin: 1em 0;
  padding: 1em;
  width: 100%;
}

option {
  padding: 1em;
}

input {
  @include input-style(white);
}

button,
input[type='submit'] {
  color: #fff;
  background: $button-color;
  font-size: 26px;
  padding: 10px 20px;
}

.Application {
  text-align: center;

  margin: 0.5em;
}

.Item {
  border: 2px solid $control-color;
  border-radius: 10px;
  margin: 1em auto;
  padding: 10px;
  text-align: left;
  max-width: 600px;
}
